<div style="background-color:#red !important;" class="jumbotron">
	<p class="text-center" style="color:#white !important"><em>This is a comic quiz app. Choose a category and test how much you know about comics</em></p>


	<div>
		<label type="button" class="btn btn-default btn-block">
			<a href = "#/MarvelPage"><input style="display:none;" onclick = "resetVariables(); MarvelTime();">Marvel</a></input>
		</label>
		<label type="button" class="btn btn-default btn-block">
			<a href = "#/DCPage"><input style="display:none;" onclick = "resetVariables(); MarvelTime();">DC</a></input>
		</label>
	</div>
</div>