

<div style="background-color:#red !important;" class="jumbotron">
	<center><h1><span style="color:#CC0000;">Marvel Quiz</span></h1></center>

		<p class="text-center" style="color:#white !important"><em>Which movie was the first released for the Marvel Cinematic Universe?</em></p>
			<label class="btn btn-default btn-block">
				<input style="display:none;"> Iron Man
			</label>

		<p class="text-center" style="color:#white !important"><em>What was being fought over in the Civil War?</em></p>
			<label type="button" class="btn btn-default btn-block">
				<input style="display:none;"> Superhero Registration
			</label>

		<p class="text-center" style="color:#white !important"><em>Hugh Jackman has played Wolverine in how many movies?</em></p>
			<label class="btn btn-default btn-block">
				<input style="display:none;"> Seven
			</label>

		<p class="text-center" style="color:#white !important"><em>In the series "Runaways", why did the kids run away from home?</em></p>
			<label class="btn btn-default btn-block">
				<input style="display:none;">  They found out their parents are villains
			</label>
	
		<p class="text-center" style="color:#white !important"><em>Which is a real Marvel superhero?</em></p>
			<label class="btn btn-default btn-block">
				<input style="display:none;" > Arm-Fall-Off-Boy 
			</label>

		<p class="text-center" style="color:#white !important"><em>The Hulk was originally what color?</em></p>
			<label class="btn btn-default btn-block">
				<input style="display:none;">  Gray
			</label>

		<p class="text-center" style="color:#white !important"><em>What is the secret identity of Spider-Ham?</em></p>
			<label class="btn btn-default btn-block">
				<input style="display:none;"> Peter Porker
			</label>

		<p class="text-center" style="color:#white !important"><em>In the 1610 universe, who killed Barack Obama?</em></p>
			<label class="btn btn-default btn-block">
				<input style="display:none;"> A Child of Tommorow
			</label>

		<p class="text-center" style="color:#white !important"><em>Who is Johnny Storm’s best friend?</em></p>
			<label type="button" class="btn btn-default btn-block">
				<input style="display:none;"> Bobby Drake
			</label>
	
		<p class="text-center" style="color:#white !important"><em>What does SHIELD stand for?</em></p>
			<label class="btn btn-default btn-block">
				<input style="display:none;">  Strategic Hazard Intervention Espionage Logistics Directorate
			</label>
	<br>
	<section>
		<label type="button" class="btn btn-default btn-block">
			<a href = "#/index"><input style="display:none;" onclick = "resetVariables();">Back To Quiz Selection</a></input>
		</label>
	</section>
</div>
