

<div style="background-color:#red !important;" class="jumbotron">
	<center><h1><span style="color:#CC0000;">Marvel Quiz</span></h1></center>

	<div id = "1" class="well">
		<p class="text-center" style="color:#white !important"><em>Which movie was the first released for the Marvel Cinematic Universe?</em></p>
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q1" value="A" style="display:none;" onclick = "store(value); numberForward();"> The Incredible Hulk
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q1" value="B" style="display:none;" onclick = "store(value); numberForward()"> Iron Man
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q1" value="C" style="display:none;" onclick = "store(value); numberForward()"> Captain America
			</label>
	</div>

	<div id = "2" class="well" style= "display:none">
		<p class="text-center" style="color:#white !important"><em>What was being fought over in the Civil War?</em></p>
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q2" value="A" style="display:none;" onclick = "store(value); numberForward()"> Superhero Registration
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q2" value="B" style="display:none;" onclick = "store(value); numberForward()"> The Infinity Gems
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q2" value="C" style="display:none;" onclick = "store(value); numberForward()"> Control over America
			</label>
	</div>

	<div id = "3" class="well" style= "display:none">
		<p class="text-center" style="color:#white !important"><em>Hugh Jackman has played Wolverine in how many movies?</em></p>
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q3" value="A" style="display:none;" onclick = "store(value); numberForward()"> Five
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q3" value="B" style="display:none;" onclick = "store(value); numberForward()"> Six
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q3" value="C" style="display:none;" onclick = "store(value); numberForward()"> Seven
			</label>
	</div>

	<div id = "4" class="well" style= "display:none">
		<p class="text-center" style="color:#white !important"><em>In the series "Runaways", why did the kids run away from home?</em></p>
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q4" value="A" style="display:none;" onclick = "store(value); numberForward()"> To join SHIELD
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q4" value="B" style="display:none;" onclick = "store(value); numberForward()"> They committed a crime
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q4" value="C" style="display:none;" onclick = "store(value); numberForward()">  They found out their parents are villains
			</label>
	</div>
	
	<div id = "5" class="well" style= "display:none">
		<p class="text-center" style="color:#white !important"><em>Which is a real Marvel superhero?</em></p>
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="A" style="display:none;" onclick = "store(value); numberForward()"> Atom-Eater Lad
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="B" style="display:none;" onclick = "store(value); numberForward()"> Arm-Fall-Off-Boy 
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="C" style="display:none;" onclick = "store(value); numberForward()">  Morning Girl
			</label>
	</div>

	<div id = "6" class="well" style= "display:none">
		<p class="text-center" style="color:#white !important"><em>The Hulk was originally what color?</em></p>
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="A" style="display:none;" onclick = "store(value); numberForward()"> Purple
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="B" style="display:none;" onclick = "store(value); numberForward()"> Blue
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q5" value="C" style="display:none;" onclick = "store(value); numberForward()">  Gray
			</label>
	</div>

	<div id = "7" class="well" style= "display:none">
		<p class="text-center" style="color:#white !important"><em>What is the secret identity of Spider-Ham?</em></p>
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q7" value="A" style="display:none;" onclick = "store(value); numberForward()"> Porker Parker
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q7" value="B" style="display:none;" onclick = "store(value); numberForward()"> Peter Porker
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q7" value="C" style="display:none;" onclick = "store(value); numberForward()">  Hamsome Jack
			</label>
	</div>

	<div id = "8" class="well" style= "display:none">
		<p class="text-center" style="color:#white !important"><em>In the 1610 universe, who killed Barack Obama?</em></p>
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q8" value="A" style="display:none;" onclick = "store(value); numberForward()"> A Brotherhood of Mutant Supremacy member
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q8" value="B" style="display:none;" onclick = "store(value); numberForward()"> A Child of Tommorow
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q8" value="C" style="display:none;" onclick = "store(value); numberForward()">  A super soldier
			</label>
	</div>

	<div id = "9" class="well" style= "display:none">
		<p class="text-center" style="color:#white !important"><em>Who is Johnny Storm’s best friend?</em></p>
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q9" value="A" style="display:none;" onclick = "store(value); numberForward()"> Bobby Drake
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q9" value="B" style="display:none;" onclick = "store(value); numberForward()">  Ben Grimm
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q9" value="C" style="display:none;" onclick = "store(value); numberForward()">  Peter Parker
			</label>
	</div>
	
	<div id = "10" class="well" style= "display:none">
		<p class="text-center" style="color:#white !important"><em>What does SHIELD stand for?</em></p>
			<label type="button" class="btn btn-default btn-block">
				<input type="radio" name="Q10" value="A" style="display:none;" onclick = "store(value); numberForward()"> Super Human Intelligence Earth Local Defense
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q10" value="B" style="display:none;" onclick = "store(value); numberForward()">  Systematic Hydra Interrogation Execution Database
			</label>
			<label class="btn btn-default btn-block">
				<input type="radio" name="Q10" value="C" style="display:none;" onclick = "store(value); numberForward()">  Strategic Hazard Intervention Espionage Logistics Directorate
			</label>
	</div>

	<div id = "11" class="well" style= "display:none">
		<p id = "results" class="text-center" style="color:#white !important"><em></em></p>
	</div>


<div class="progress">
	<div id = "bar" class="progress-bar progress-bar-danger"" role="progressbar" aria-valuenow="{{barValue}}" aria-valuemin="0" aria-valuemax="100" >
	</div>
</div>

<p id = "test"></p>
