<div>
	<h1>Informatics Quiz</h1>
	<p>What is the "Fitts' Law?"</p>
	<div class = "form-group">
		<div class="radio">
			<label>
				<input type="radio" name="Q1" value="A" ng-model="userInput.Q1">
					Function of time relative to distance and size of a target.
				</input>
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="Q1" value="B" ng-model="userInput.Q1">
					Function of distance relative to speed and accuracy
				</input>
			</label>
		</div>
	</div>
	<p>
	{{userInput}}
	</p>
</div>