<div style="background-color:#red !important;" class="jumbotron">

	<center><h1><span style="color:#CC0000;">Marvel Quiz</span></h1></center>
	
	<div id="5" style= class="well">

		<p class="text-center" style="color:#white !important"><em>Which is a real Marvel Superhero?</em></p>
		
		<div class="btn-justified" role="group"  data-toggle="buttons">
			<label type="button" class="btn btn-default btn-block" data-toggle="buttons-radio">
				<input type="radio" name="Q1" value="A" ng-model="userInput.Q1">
				Atom-Eater Lad
			</input></label>
			<button type="button" class="btn btn-default btn-block" data-toggle="buttons-radio">
				<input type="radio" name="Q1" value="B" ng-model="userInput.Q1">
				Arm-Fall-Off-Boy
			</input></button>
			<button type="button" class="btn btn-default btn-block" data-toggle="buttons-radio">
				<input type="radio" name="Q1" value="C" ng-model="userInput.Q1">
				Morning Girl
			</input></button>
		</div>
	</div>
	
<div class="btn-justified" data-toggle="radio">
	<label type="button" class="btn btn-default btn-block">
		<input type="radio" name="Q1" value="A" ng-model="userInput.Q1" style="display:none;"> Radio 1 (preselected)
	</label>
	<label class="btn btn-default btn-block">
		<input type="radio" name="Q1" value="B" ng-model="userInput.Q1"> Radio 2
	</label>
	<label class="btn btn-default btn-block">
		<input type="radio" name="Q1" value="C" ng-model="userInput.Q1"> Radio 3
	</label>
</div>

	<div>
		&nbsp;
	<div class="progress">
		<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
			<span class="sr-only"> 50% Complete! </span>
		</div>	
	</div>
	</div>

<div>		
	<button type="button" onclick="numberBack()">Back</button>
	<button type="button" onclick="numberForward()">Forward</button>
</div>
<p>
	{{userInput}}
</p>

<script>
var number = 1;

function numberForward()
  {
  
	document.getElementById(number).style.display = "none";
	number += 1;
	document.getElementById(number).style.display = "block";
  }
  
function numberBack()
  {
	document.getElementById(number).style.visibility = "none";
	number -= 1;
	document.getElementById(number).style.visibility = "block";
  }

</script>