<div id = "0">
	<h1>Media Quiz</h1>
	<p>What is the "Rule of Thirds?"</p>
	<div class = "form-group">
		<div class="radio">
			<label>
				<input type="radio" name="Q1" value="A" ng-model="userInput.Q1">
					Forming a grid to find stuff...
				</input>
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="Q1" value="B" ng-model="userInput.Q1">
					Poo
				</input>
			</label>
		</div>
	</div>
</div>

<div id = "1" style= "display:none">
	<h1>Media Quiz</h1>
	<p>apples and orange?"</p>
	<div class = "form-group">
		<div class="radio">
			<label>
				<input type="radio" name="Q1" value="A" ng-model="userInput.Q1">
					Forming a grid to find stuff...
				</input>
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="Q1" value="B" ng-model="userInput.Q1">
					Poo
				</input>
			</label>
		</div>
	</div>
</div>

<!--back and forward buttons-->
<div>		
	<button type="button" onclick="QuestionBack()">Back</button>
	<button type="button" onclick="QuestionForward()">Forward</button>
</div>
<p>
	{{userInput}}
</p>

<script>
var question = 0;
function QuestionForward()
  {
	document.getElementById(question).style.display = "none";
	question += 1;
	document.getElementById(question).style.display = "block";
  }
  
function QuestionBack()
  {
	document.getElementById(question).style.visibility = "hidden";
	document.getElementById(question-1).style.visibility = "visibile";
	question -= 1;
  }
</script>